<% include partials/header %>

<h1 >Create Recipe</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="formCreate">
        <form  action="/recepis" method="post">
          <input class="form-control nameMargin" type="text" name="recipe[author]" placeholder="Your name">
          <h4>Create Your Recepi</h4>
          <input class="form-control" type="text" name="recipe[name]" placeholder="title">
          <input class="form-control" type="text" name="recipe[source]" placeholder="source">
          <input class="form-control" type="number" name="recipe[prepTime]" placeholder="Put pereparation time in minutes">
          <textarea name="recipe[prepInstruct]" class="form-control textMargin" rows="8" cols="80"placeholder="preparation instraction"></textarea>



              <%for(var i=0;i<listIng.length;i++){%>
                <div class="col-md-5 col-md-offset-1 borderIngr"   >
                    <div class="nameChack">

                        <div class="col-md-6">
                          <label for=""><%= listIng[i].name%></label>:
                        </div>
                        <div class="col-md-6">
                          <input type="number" name="names[<%= listIng[i].name%>]"placeholder="Inesrt number" >
                        </div>
                    </div>
                    <div class="checkIng">

                    </div>
                </div>
              <%} %>
          <!-- <button  class="btn btn-success form-control">Create</button> -->
        </form>
      </div>
    </div>
  </div>
</div>


<% include partials/footer %>
